<ion-list lines="full" class="ion-no-margin">

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password Confirmation</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="createAccount()">
    Create Account
  </ion-button>

</ion-list>