<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <!-- <ion-list>
    <ion-item *ngFor="let item of dbData">
      <ion-row>
        <ion-col><div>{{item.key_one}}</div></ion-col>
        <ion-col><div>{{item.key_two}}</div></ion-col>
      </ion-row>
    </ion-item>
  </ion-list> -->



  <ion-row>
    <ion-button expand="block" routerLink="/logout" routerDirection="forward">
      Logout
    </ion-button>
  </ion-row>

</ion-content>
