<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Authenticate & Send Request
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h4>Authenticated Data</h4>
  <ion-button expand="full" fill="outline" (click)="sendRequest()">
    Get Secure Data
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let item of dbData">
      <p>{{item.key_one}}</p>&nbsp;&nbsp;
      <p>{{item.key_two}}</p>
    </ion-item>
  </ion-list>

</ion-content>