<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Authenticate & Send Request
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h4>Tap the button to Authenticate</h4>
  <ion-button expand="full" fill="outline" (click)="authenticate()">
    Fingerprint Authenticate
  </ion-button>

  <h4>Tap the button to Send Request</h4>
  <ion-button expand="full" fill="outline" (click)="sendRequest()">
    Send Request
  </ion-button>

</ion-content>